<% @title = "お問い合わせ" %>
<div
  data-vue="static_pages-form"
  class="container"
>
  <h2 class="form__title">お問い合わせ</h2>
  <h3 class="form__subtitle">感想や別解などがあれば、いつでもお知らせください。</h3>
  <div class="form__wrapper offset-1 col-10">
    <%= form_with url: form_send_inquiry_path, html: {method: 'post'},
        skip_enforcing_utf8: true, local: true do |f| %>
      <div class="form__box form-group row justify-content-center">
        <p class="col-md-3 col-10 form__text">メールアドレス</p>
        <div class="text-center col-md-8 col-10">
          <%= f.text_field :email, placeholder: "wado@quiz.com",
                           "v-model": "email", class: "col-12" %>
          <span
            v-if="isIncorrectEmail"
            style="display: flex; color: #f0ad4e;"
          >
            アドレスの形式が不正です
          </span>
        </div>
      </div>
      <div class="form__box form-group row justify-content-center">
        <p class="col-md-3 col-10 form__text">お名前</p>
        <div class="text-center col-md-8 col-10">
          <%= f.text_field :name, placeholder: "和銅 花子",
                           "v-model": "name", class: "col-12" %>
        </div>
      </div>
      <div class="form__box form-group row justify-content-center">
        <p class="col-md-3 col-10 form__text">タイトル</p>
        <div class="text-center col-md-8 col-10">
          <%= f.text_field :title, placeholder: "〜〜〜について",
                           "v-model": "title", class: "col-12" %>
        </div>
      </div>
      <div class="form__box form-group row justify-content-center">
        <p class="col-md-3 col-10 form__text">内容</p>
        <div class="text-center col-md-8 col-10">
          <%= f.text_area :content, "v-model": "content",
                          class: "col-12", size: "x5" %>
        </div>
      </div>
      <div class="form__box text-center">
        <%= f.submit "送信する", class: "btn btn-primary font-weight-bold text-right",
             ":disabled": "!this.email || !this.name || !this.title || !this.content || isIncorrectEmail" %>
      </div>
    <% end %>
  </div>
</div>
