<div id="edit" class="container">
  <h3 class="edit__title">ユーザー情報変更</h3>
  <h5 class="edit__subtitle">
    メールアドレスおよび現在のパスワードと、変更したい内容を入力してください。
    <br>変更しない場合は、空欄のままにしてください。
  </h5>
  <div class="offset-1 col-10">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      <div class="edit__box form-group row">
        <h5 class="col-3 edit__text">メールアドレス</h5>
        <div class="text-center col-8">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-12", "v-model": "email" %>
        </div>
      </div>
      <div class="edit__box form-group row">
        <h5 class="col-3 edit__text">現在のパスワード</h5>
        <div class="text-center col-8">
          <%= f.password_field :current_password, autocomplete: "current-password", class: "col-12", "v-model": "currentPassword" %>
        </div>
      </div>
      <div class="edit__box form-group row">
        <h5 class="col-3 edit__text">お名前</h5>
        <div class="text-center col-8">
          <%= f.text_field :name, autocomplete: "name", class: "col-12" %>
        </div>
      </div>
      <div class="edit__box form-group row">
        <h5 class="col-3 edit__text">新しいパスワード</h5>
        <div class="text-center col-8">
          <%= f.password_field :password, autocomplete: "new-password", class: "col-12" %>
          <small class="form-text text-muted edit__text">パスワードは<%= @minimum_password_length %>文字以上で入力してください。</small>
        </div>
      </div>
      <div class="edit__box form-group row">
        <h5 class="col-3 edit__text">新しいパスワード確認</h5>
        <div class="text-center col-8">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-12"  %>
          <small class="form-text text-muted edit__text">パスワードは<%= @minimum_password_length %>文字以上で入力してください。</small>
        </div>
      </div>
      <div class="edit__box text-center">
        <%= f.submit "送信する", class: "btn btn-primary font-weight-bold text-right",
             ":disabled": "!this.email || !this.currentPassword" %>
      </div>
    <% end %>
  </div>
</div>

<script>
new Vue ({
	el: '#edit',
	data: {
    email: null,
    name: null,
    changedPassword: null,
    currentPassword: null
  }
})
</script>