<dl class="quiz-thumbnail card">
  <%= link_to quiz_wadokaichin_path(quiz_wadokaichin.id) do %>
    <div class="card-body">
      <dt>
        <img class="quiz-thumbnail__img card-img-top" src="<%= quiz_wadokaichin.image_url %>">
      </dt>
      <dd>
        <h3 class="quiz-thumbnail__title-box">
          <span class="quiz-thumbnail__title-box--id">No.<%= quiz_wadokaichin.id %></span>
          <span class="quiz-thumbnail__title-box--difficulty"> | Lv: <%= quiz_wadokaichin.difficulty %></span>
        </h3>
        <p class="quiz-thumbnail__title-box--date">
          <%= quiz_wadokaichin.created_at.strftime('%Y/%m/%d') %>
        </p>
      </dd>
    </div>
  <% end %>
</dl>
