<h1>和同開珎</h1>
<%= @quiz.answer %>
<%= @quiz.jukugo_right_name %>
<%= @quiz.jukugo_down_name %>
<%= @quiz.jukugo_left_name %>
<%= @quiz.jukugo_up_name %>
<%= image_tag("quiz_wadokaichin/quiz_6.jpg") %>
