<div id="form" class="d-flex justify-content-center">
  <div class="wadokaichin__form-box accordion w-100 " id="form-accordion">
      <div class="wadokaichin__form-box--header card-header border-none text-center" id="form-content">
        <button class="btn" type="button" data-toggle="collapse" data-target="#collapse-form" aria-expanded="true" aria-controls="collapse-form">
          <h5>メッセージフォーム ▼</h5>
        </button>
      </div>

      <div id="collapse-form" class="collapse" aria-labelledby="form-content" data-parent="#form-accordion">
        <div class="wadokaichin__form-box--body card-body">
          <div id="collapse">
              <h5 class="form__subtitle">感想や別解などがあれば、<br>いつでもお知らせください。</h5>
              <div class="form__wrapper offset-1 col-10">
                <%= form_with url: form_send_inquiry_path, html: {method: 'GET'},
                    skip_enforcing_utf8: true, local: true do |f| %>
                    <h6 class="form__text">メールアドレス</h6>
                    <div class="text-center">
                      <%= f.text_field :email, class: "col-12", "v-model": "email" %>
                    </div>
                    <h6 class="form__text">お名前</h6>
                    <div class="text-center">
                      <%= f.text_field :name, class: "col-12", "v-model": "name" %>
                    </div>
                    <%= f.hidden_field :title, value: @quiz.class.name.to_s + @quiz.id.to_s %>
                    <h6 class="form__text">お問い合わせ内容</h6>
                    <div class="text-center">
                      <%= f.text_area :content, class: "col-12", size: "x5", "v-model": "content" %>
                    </div>
                  <div class="form__box text-center">
                    <%= f.submit "送信する", class: "btn btn-primary font-weight-bold text-right",
                        ":disabled": "!this.email || !this.name || !this.content" %>
                  </div>
                <% end %>
              </div>
            </div>        
        </div>
      </div>
  </div>
</div>

<script>
new Vue ({
	el: '#form',
	data: {
    email: null,
    name: null,
    content: null,
  }
})
</script>