<div class="wadokaichin__header-box d-flex justify-content-center">
  <span class="wadokaichin__title--link">
    <% unless (@quiz.id - 1) < 1 %>
      <%= link_to quiz_wadokaichin_path(@quiz.id - 1) do %>
        <i class="fas fa-chevron-left"></i>
        No. <%= @quiz.id - 1 %>
      <% end %>
    <% end %>
  </span>
  <span class="wadokaichin__title text-primary offset-1">和同開珎</span>
  <span class="wadokaichin__title--number">No.<%= @quiz.id %></span>
  <span class="wadokaichin__title--link offset-1">
    <% unless (@quiz.id + 1) > QuizWadokaichin.count %>
      <%= link_to quiz_wadokaichin_path(@quiz.id + 1) do %>
        No. <%= @quiz.id + 1 %>
        <i class="fas fa-chevron-right"></i>
      <% end %>
    </span>
  <% end %>
</div>
