<h2>home</h2>

<%= form_with url: root_path, html: {method: 'GET'},
    skip_enforcing_utf8: true, local: true do |f| %>
  <p>クイズ</p>
  <%= f.select :category, options_for_select({ "和銅開珍": "QuizWadokaichin" }) %>
  <p>並び替え</p>
  <%= f.select :order, options_for_select({ "新しい順": "id DESC",
                                            "古い順": "id ASC" }) %>
  <%= f.submit "表示", :class=>"btn bg-primary" %>
<% end %>

<div id="content">
  <%= render @quizzes %>
  <%= paginate @quizzes %>
</div>
