<header class="navbar navbar-fixed-top header">
  <div class="header--container row">
    <div class="header--left">
     <h5><%= link_to "ホームロゴ", root_path, id: "logo" %></h5>
    </div>
    <div class="header--right">
      <% if user_signed_in? %>
        <h5 class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            アカウント <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "ユーザーページ", edit_user_registration_path %></li>
            <li class="divider"></li>
            <li>
              <%= button_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
      <% else %>
        <div class="row">
          <h5><%= link_to "サインイン", new_user_registration_path %></h5>
          <span class="col-1"></span>
          <h5><%= link_to "ログイン", user_session_path %></h5>
        </div>
      <% end %>
    </div>
  </div>
</header>
