<%# Google Analytics %>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-165375147-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-165375147-1');
</script>

<%# Google Adsense %>
<script
  data-ad-client="ca-pub-4179431188137565"
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
</script>

<% default_description  = "クイズ和同開珎は、四つの熟語に共通した一つの漢字を当てる、虫食い漢字クイズが遊べるサイトです。たくさんのクイズが、いつでもお手軽に楽しめます。" %>
<% default_img_url      = "https://quiz-site-ys.s3-ap-northeast-1.amazonaws.com/wadokaichin/og-img.jpg" %>
<% default_keywords     = "クイズ 漢字 和銅開珎 ゲーム 暇つぶし パズル 謎解き" %>

<%# Rails meta-tags %>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%# Basic meta-tags %>
<meta name="description"          content=<%= default_description %>>
<meta name="keywords"             content=<%= default_keywords %>>
<title><%= @title + " | " if @title.present? %>クイズ和同開珎 </title>

<%# Open Graph for social services %>
<meta name="twitter:card"         content="summary_large_image">
<meta name="twitter:site"         content="@[account_name]">
<meta property="og:url"           content="<% request.url %>" />
<meta property="og:title"         content="<%= @title + " | "  if @title.present? %>クイズ和同開珎" />
<meta property="og:description"   content=<%= default_description %>>
<meta property="og:image" 
      content="<%= @quiz.present? ? @quiz.image_url : default_img_url %>" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<%# Schema (json-ld) %>
<script type="application/ld+json">
[
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "https://wadokaichin.games/",
    "logo": "",
    "about": "<%= default_description %>",
    "keywords": "<%= default_keywords %>",
    "thumbnailUrl": "<%= @quiz.present? ? @quiz.image_url : default_img_url %>",
    "sameAs": [
      "twitter account"
    ]
  },
  <%= render_breadcrumbs builder: BreadcrumbsOnRails::JsonLd::Builder %>
]
</script>

