<!DOCTYPE html>
<html>
  <head>
  <% if false %>
    <title>クイズ和同開珎 <%= "| No." + @quiz.id.to_s if @quiz.present? %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>   
  <% end %>
  <%= render 'layouts/meta' %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%# Facebook share %>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
      src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v6.0"></script>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
    <%= render 'layouts/footer' %>
  </body>
</html>
